[submodule "deps/glfw"]
	path = deps/glfw
	url = git@github.com:glfw/glfw.git
[submodule "deps/glm"]
	path = deps/glm
	url = git@github.com:g-truc/glm.git
[submodule "deps/bullet3"]
	path = deps/bullet3
	url = git@github.com:bulletphysics/bullet3.git
[submodule "data"]
	path = data
	url = git@github.com:zeux/sandvox-data.git
[submodule "deps/freetype2"]
	path = deps/freetype2
	url = git@github.com:pyokagan/freetype2.git
